/* Lab8  */
/* Name:Abdulaziz Ali Alhumidi  */
/* ID: 2141075  */

* {
  margin: 0%;
  padding: 0%;
}
body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  width: 60%;
}
.shadow {
  text-align: center;
  padding: 40px 15px 40px 15px;
  background-color: #f1f7fa;
  box-shadow: 10px 10px lightblue;
  border-radius: 15px;
}
h1 {
  margin-bottom: 50px;
  font-size: 30px;
}
span {
  color: red;
  font-size: 18px;
}
.input {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  margin-right: 8px;
}
.text {
  font-size: 16px;
  padding: 2px 5px 2px 5px;
  background: transparent;
  border-radius: 5px;
}
#space {
  margin-right: 30px;
}
.button {
  padding: 6px 20px 6px 20px;
  border: #148dd2;
  border-radius: 7px;
  background-color: #6b9ad0;
  color: white;
  font-size: 17px;
}
.result {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 50px 50px 0px 50px;
  padding: 40px 40px 40px 40px;
  border-radius: 10px;
  background-color: #d6e6f2;
}
.red {
  color: red;
}
.div {
  padding: 15px;
  text-align: center;
  border-radius: 10px;
  border: 5px groove black;
}
.p {
  font-size: 20px;
  margin-bottom: 10px;
}
.img {
  width: 200px;
  border-radius: 10px;
}

@media only screen and (max-width: 1500px) {
  main {
    width: 80%;
  }
}

@media only screen and (max-width: 1200px) {
  main {
    width: 90%;
  }
}

@media only screen and (max-width: 800px) {
  .result {
    display: block;
    margin: 30px 10px 0px 10px;
  }
  .div {
    padding: 8px;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 400px) {
  .p {
    font-size: 12px;
  }
  .img {
    width: 120px;
  }
}
